.register {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.register__main {
    width: 50%;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register__poster {
    width: 50%;
}

.register__title {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "LatoRegular";
    font-size: 405;
}

.register__yomuneko {
    font-family: "LatoRegular";
    font-size: 40px;
    color: #1B6FA8;
}

.register__hieroglyph {
    font-size: 35px;
}

.register__welcome {
    font-family: "LatoSemiBold";
    font-size: 32px;
}

.back__word {
    color: #1B6FA8;
}

.register__description {
    font-family: "LatoSemiBold";
    font-size: 12px;
    color: #1F1F1F;
}