@font-face {
    font-family: "LatoBold";
    src: url("../../assets/fonts/Lato-Bold.ttf") 
         format("truetype");
}

@font-face {
    font-family: "LatoMedium";
    src: url("../../assets/fonts/Lato-Medium.ttf") 
         format("truetype");
}

@font-face {
    font-family: "LatoItalic";
    src: url("../../assets/fonts/Lato-Italic.ttf") 
         format("truetype");
}

@font-face {
    font-family: "LatoRegular";
    src: url("../../assets/fonts/Lato-Regular.ttf") 
         format("truetype");
}

@font-face {
    font-family: "LatoExtraBold";
    src: url("../../assets/fonts/Lato-ExtraBold.ttf") 
         format("truetype");
}

@font-face {
    font-family: "LatoLight";
    src: url("../../assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "LatoSemiBold";
    src: url("../../assets/fonts/Lato-SemiBold.ttf");
}